:root {
    --tag-border-thickness: 0.3rem;
    --tag-button-size: 2rem;
    --element-padding: 0.5rem;
    --element-margin: 0.5rem;
}

/* Disable text highlighting on expression trees */
.tag, .literal, .variable {
    /* From: https://stackoverflow.com/a/4407335/9045161 */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

.tag {
    padding: var(--element-padding);
    margin: var(--element-margin);
}

.south-east, .north-west {
    padding: var(--element-padding);
    border-radius: 1rem;
}

.north-south {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.east-west {
    display: flex;
    /* align-items: stretch; */
}

.east-west > * {
    display: flex;
    align-content: center;
}

/* GIT TEST */

.north-west {
    border: solid var(--tag-border-thickness) blue;
    background: lightblue;
}

.south-east {
    border: solid var(--tag-border-thickness) red;
    background: lightcoral;
}

.tag-element-container {
    display: flex;
    padding: var(--element-padding);
}

.tag-element-container > * {
    margin: auto;
}

.north-west:hover,
.south-east:hover,
.variable:hover,
.literal:hover {
    filter: brightness(130%);
    transition: 0.15s;
}

/* .east-west > .north-west {
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
}

.east-west > .south-east {
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
}

.north-south > .north-west {
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.north-south > .south-east {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
} */

.tag-button {
    width: var(--tag-button-size);
    height: var(--tag-button-size);
    background: green; /* STYLING TENTATIVE! */
    border: solid 3px #494;
    border-radius: 100%;
    transition: 0.1s;

    margin: auto;
}

.tag-button:hover {
    background: #afa;
    border: solid 3px lightgreen;
}

.tag-button-column {
    display: flex;
}

.variable, .literal {
    padding: 1rem;
    /* margin: 1rem; */
    text-align: center;
    color: white;
    font-size: 20pt;
    font-weight: bold;
    border-radius: 1rem;

    height: 50px;
}

.literal {
    background-color: darkslategray;
    width: 50px;
}

.variable {
    background-color: purple;
    width: 50px;
}