svg {
  height: 100%;
  display:inline-block;
  width:100%;
  padding:10px;
  border-width: 2px;
  border-style: groove;
}
/*foreignObject{*/
  /*height: 100px;*/
  /*width: 100px;*/
  /*padding: 10px;*/
/*}*/
.myBox {
  border: none;
  padding: 5px;
  font: 24px/36px sans-serif;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border: 1px solid gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}