.big-modal {
    width: 90vw !important;
    height: 90vh !important;
}

.spaced-out-row {
    display: flex;
    margin-top: 1rem;
    justify-content: space-around;
}

.manip-window-outline {
    border-color: #666;
    border-style: solid;
    border-width: 0.5rem;
}