.big-modal {
    width: 90vw !important;
    height: 90vh !important;
}

.spaced-out-row {
    display: flex;
    margin-top: 1rem;
    justify-content: space-around;
}

.manip-window-outline {
    border-color: #666;
    border-style: solid;
    border-width: 0.5rem;
}

.footer-links li {
    display: inline-block;
    list-style-type: none;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.our-brand-logo {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.our-page-footer {
    margin-top: 5rem !important;
}

.single-problem-display {
    padding: 1rem;
    margin-bottom: 3rem;
    border: solid 0.5rem rgba(255,255,255,0.1);
    border-radius: 1rem;
}
